@media (max-width:1199px){
  .about{
    margin-top: 0px;
  }
}
@media (max-width:991px){
  .slider-content h2{
    font-size: 24px;
  }

.we-img img{
  max-width: 100%;
  margin-bottom: 0;
}
.slider-btn .our-btn{
  margin: 0;
  width: 150px;
  height: 50px;
}
.slider-btn a{
 font-size: 12px;
}
.our-bullet{
 bottom: 4px;
}
}
@media (max-width:767px) {
  .top-content{
    display:block;
  }
  .top-bar .top-right{
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .top-bar .top-left ul li,
  .top-bar .top-right ul li{
    padding-top: 5px;
    padding-bottom: 5px;
  }
 .slider-content h2{
   font-size: 13px;
 }
 .big-banner a.our-btn{
   width: 498px;
 }

}

@media (max-width:480px){
  .work-nav ul li{
    font-size: 12px;
  }
  .big-banner a.our-btn{
    width: 398px;
  }
  .top{
    right:71px;
  }
}

@media (max-width:388px){
  .top-bar .top-left ul{
    display: block;
    text-align: center;
  }
  .work-nav ul li{
    font-size: 10px;
  }
  .big-banner a.our-btn{
    width: 312px;
  }
}
